<!doctype html>
<html lang="en" class="light-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="img/logo.ico" type="image/webp" />

    <!-- CSS files -->
    <link href="../../front_assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="../../front_assets/plugins/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../front_assets/plugins/slick/slick-theme.css" />

    <link href="../../front_assets/css/style.css" rel="stylesheet">
    <link href="../../front_assets/css/dark-theme.css" rel="stylesheet">

    <title>Roops</title>
    <style>
        .tab {
            display: none;
        }

        .sec1 {
            display: none;
        }

        .sec2 {
            display: none;
        }

        .sec3 {
            display: none;
        }

        .sec4 {
            display: none;
        }

        .sec5 {
            display: none;
        }

        .cp {
            cursor: pointer;
        }

        .tab-item {
            text-align: center;
            text-decoration: none;
            color: #000;
            padding: 12px 16px;
        }

        .tab-item:focus {
            text-decoration: none;
            color: #FF406C;
            background-color: #fff;
        }

        .outline {
            border: 2px solid black;
            border-radius: 15px;
        }

        .outline:hover {
            color: #FF406C;
            border: 2px solid #FF406C;

        }

        .outline:focus {
            color: #FF406C;
            border: 2px solid #FF406C;
        }


        .tab-item:focus path {
            text-decoration: none;
            color: #FF406C;
            fill: #FF406C;
            background-color: #fff;
        }

        .tab-item:hover {
            color: #FF406C;
        }

        .tab-item:hover path {
            fill: #FF406C;
        }

        *:focus {
            outline: none;
            border: none;
        }

        .offer-text {
            font-size: small;
            color: #FF406C;
        }

        .skew {
            width: 30vw;
            height: 20vw;
            -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
            clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 90%);
            background: #FE4F77;

        }

        @media screen and (max-width: 576px) {
            .navbar-brand {
                margin-left: 1.5rem;
            }

            .tab {
                display: flex;
                justify-content: space-around;
                background-color: #fff;
                color: black;
                padding: 12px;
                position: fixed;
                bottom: 0;
                width: 100%;
                max-width: 430px;
            }

            .tab-item {
                padding: 12px 10px;
            }

            .slider1 {
                display: none;
            }

            .sec1 {
                display: block;
            }

            .sec2 {
                display: block;
            }

            .sec3 {
                display: block;
            }

            .sec4 {
                display: block;
            }

            .sec5 {
                display: block;
            }

        }

        @media screen and (max-width: 768px) {
            .head {
                display: none;
            }

        }
    </style>
</head>

<body class="">
    <!-- <body class="container-fluid"> -->
    <!--page loader-->
    <div class="loader-wrapper d-none">
        <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
            <div class="spinner-border text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <!--end loader-->

    <!--start top header-->

    <header class="top-header">
        <nav class="navbar navbar-expand-md w-100 navbar-dark container gap-3">
            <a class="navbar-brand d-xl-inline" href="/"><img src="../../front_assets/img/roops_logo.png" style="width: 50px;" alt=""></a>
            <div class="primary-menu">

                <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">


                    <% parent.forEach(p=>{ %>

                        <li class="nav-item head dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="https://codervent.com/shopingo/demo/shopingo_V1/tv-shows.html" data-bs-toggle="dropdown">
                                <%=p.parent_category%>
                            </a>
                            <div class="dropdown-menu dropdown-large-menu">
                                <div class="row">
                                    <%p.subcategories.forEach(sub=>{%>
                                        <div class="col-12 col-md-3 col-xl-4">
                                            <h6 class="large-menu-title">
                                                <%=sub.sub_category%>
                                            </h6>
                                            <ul class="list-unstyled">
                                                <%sub.categories.forEach(cate=>{%>
                                                    <li>
                                                        <a href="/product/all_Product/<%=cate._id%>/<%=cate.category%>">
                                                            <%=cate.category%>
                                                        </a>
                                                    </li>
                                                    <%});%>
                                            </ul>
                                        </div>

                                        <%});%>

                                            <!-- <div class="col-12 col-md-3 col-xl-4 d-none d-xl-block">
                  <div class="pramotion-banner1">
                    <img src="../../front_assets/img/menu-img.webp" class="img-fluid" alt="" />
                  </div>
                </div> -->

                                </div>
                            </div>
                        </li>
                        <%})%>



                            <li class="nav-item search d-none d-md-block d-lg-block d-flex align-items-center">
                                <form class="rounded-pill border border-2" style="width: 355px;">
                                    <button class="border-0 bg-white rounded-4 " type="submit"><i class="fa fa-search"></i></button>
                                    <input class="rounded-2 fs-6" style="width:300px;outline: none;" type="text" placeholder="Search for Products, Brand ...." name="search">
                                </form>
                            </li>

                </ul>


            </div>
            <ul class="navbar-nav secondary-menu flex-row">
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="javascript:;"><i class="fas fa-user-edit"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="23" viewBox="0 0 21 23" fill="none">
                            <path
                                d="M7.75654 20.9897C8.46167 21.6121 9.38792 21.9897 10.4024 21.9897C11.4168 21.9897 12.3431 21.6121 13.0482 20.9897M16.4024 7.98975C16.4024 6.39845 15.7702 4.87232 14.645 3.74711C13.5198 2.62189 11.9937 1.98975 10.4024 1.98975C8.81106 1.98975 7.28494 2.62189 6.15972 3.74711C5.0345 4.87232 4.40236 6.39845 4.40236 7.98975C4.40236 11.0799 3.62283 13.1957 2.75203 14.5952C2.01749 15.7756 1.65022 16.3659 1.66369 16.5305C1.6786 16.7128 1.71722 16.7823 1.86414 16.8913C1.99682 16.9897 2.59495 16.9897 3.79122 16.9897H17.0135C18.2098 16.9897 18.8079 16.9897 18.9406 16.8913C19.0875 16.7823 19.1261 16.7128 19.141 16.5305C19.1545 16.3659 18.7872 15.7756 18.0527 14.5952C17.1819 13.1957 16.4024 11.0799 16.4024 7.98975Z"
                                stroke="#272C3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11.4175 3.29206C9.41812 0.95465 6.08406 0.325893 3.57901 2.46626C1.07396 4.60663 0.721284 8.18523 2.68851 10.7167C4.17441 12.6287 8.39561 16.4672 10.3723 18.2311C10.7357 18.5554 10.9174 18.7175 11.1301 18.7813C11.3148 18.8368 11.5201 18.8368 11.7048 18.7813C11.9175 18.7175 12.0992 18.5554 12.4626 18.2311C14.4393 16.4672 18.6605 12.6287 20.1464 10.7167C22.1137 8.18523 21.804 4.58412 19.2559 2.46626C16.7078 0.348407 13.4168 0.95465 11.4175 3.29206Z"
                                stroke="#272C3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="/product/cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                            <path
                                d="M14.8698 8.98975V5.98975C14.8698 3.78061 13.0789 1.98975 10.8698 1.98975C8.66062 1.98975 6.86975 3.78061 6.86975 5.98975V8.98974M2.46176 10.3417L1.86176 16.7417C1.69116 18.5614 1.60586 19.4713 1.9078 20.174C2.17305 20.7914 2.63787 21.3018 3.22777 21.6235C3.89928 21.9897 4.81312 21.9897 6.6408 21.9897H15.0987C16.9264 21.9897 17.8402 21.9897 18.5117 21.6235C19.1016 21.3018 19.5665 20.7914 19.8317 20.174C20.1336 19.4713 20.0483 18.5614 19.8778 16.7417L19.2778 10.3417C19.1337 8.80509 19.0617 8.03678 18.7161 7.45591C18.4117 6.94433 17.9621 6.53486 17.4243 6.27959C16.8137 5.98975 16.0421 5.98975 14.4987 5.98975L7.2408 5.98975C5.69744 5.98975 4.92577 5.98975 4.31517 6.27959C3.77742 6.53486 3.32776 6.94433 3.02341 7.45591C2.67784 8.03678 2.60582 8.80509 2.46176 10.3417Z"
                                stroke="#272C3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                            <path
                                d="M10.0469 7.95105L14.0469 11.951M14.0469 11.951L10.0469 15.951M14.0469 11.951H1.04688M1.3847 6.95105C3.11374 3.96204 6.34546 1.95105 10.0469 1.95105C15.5697 1.95105 20.0469 6.4282 20.0469 11.951C20.0469 17.4739 15.5697 21.951 10.0469 21.951C6.34546 21.951 3.11374 19.9401 1.3847 16.951"
                                stroke="#272C3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </li>

            </ul>
            <li class="d-lg-none d-md-none d-md-flex d-sm-block d-sm-flex d-xl-none mb-4 mx-auto search " style="list-style: none;">
                <form class="rounded-pill border border-2" style="width: 355px;">
                    <button class="border-0 bg-white rounded-4 " type="submit"><i class="fa fa-search"></i></button>
                    <input class="rounded-2 fs-6" style="width:300px;outline: none;" type="text" placeholder="Search for Products, Brand ...." name="search">
                </form>
            </li>

        </nav>

        <div class="tab shadow-lg">
            <a class="tab-item" href="/">
                <!-- <i data-feather="home"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    <path
                        d="M19.8008 16.7366C17.4578 19.0355 13.583 19.0122 10.9186 16.4281C9.59153 15.1426 8.35003 13.7715 6.90378 12.2656C4.95471 14.3858 3.17929 16.3141 1.40387 18.245C1.28724 18.1725 1.17061 18.0999 1.05397 18.0273C1.00732 17.7629 0.92438 17.496 0.921788 17.2316C0.911421 13.857 0.885502 10.485 0.92438 7.11043C0.96585 3.60625 3.95685 0.713739 7.10335 0.936639C7.10335 4.59633 7.10335 8.25084 7.10335 12.3097C8.47185 10.7779 9.66151 9.44828 10.9263 8.03313C14.0391 11.0889 16.885 13.8778 19.8008 16.7366Z"
                        fill="#272C3F" />
                    <path d="M12.8884 6.04762C13.4093 4.00264 12.8754 2.24796 10.535 0.962402C13.2875 0.962402 15.672 0.962402 17.9451 0.962402C16.2681 2.64711 14.5679 4.35514 12.8884 6.04762Z" fill="#272C3F" />
                </svg>
                <span>Home</span>
            </a>

            <a class="tab-item" href="/product/hot_trends">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewBox="0 0 27 18" fill="none">
                    <path
                        d="M9.39595 9.55167C7.5996 11.3115 5.83982 13.0361 4.07858 14.7623C3.26671 15.558 2.45338 16.3524 1.64004 17.1467C1.43671 17.3442 1.18803 17.6045 0.942276 17.3134C0.834026 17.1862 0.883763 16.8014 1.00079 16.6274C3.74505 12.5753 6.51126 8.53647 9.26722 4.49176C9.52175 4.11727 9.76605 4.08363 10.1288 4.35133C11.7189 5.52305 13.3222 6.67868 14.921 7.84017C15.0615 7.94256 15.2048 8.03911 15.3862 8.16345C17.2191 6.50899 19.0448 4.85893 20.9508 3.13718C20.2545 2.45697 19.5845 1.80308 18.9146 1.14773C18.7902 1.02486 18.6381 0.916608 18.5518 0.771788C18.4611 0.621117 18.3543 0.403157 18.404 0.268576C18.4494 0.147162 18.6937 0.0374498 18.8517 0.0330613C19.7089 0.00965606 20.5661 0.0228215 21.4233 0.0228215C22.9798 0.0228215 24.5377 0.0345237 26.0941 0.015507C26.5768 0.00965566 26.748 0.207137 26.7465 0.667928C26.7378 3.03039 26.7495 5.3914 26.729 7.75386C26.7275 7.95866 26.5768 8.20441 26.4174 8.34192C26.356 8.39604 26.0385 8.24391 25.9083 8.11372C25.2413 7.44959 24.5962 6.76353 23.9174 6.05698C22.8905 7.12777 21.9324 8.12103 20.9786 9.11868C19.469 10.7 17.9506 12.274 16.4599 13.8743C16.0928 14.2678 15.8134 14.2868 15.3921 13.9709C13.5752 12.6061 11.7394 11.2632 9.91086 9.91446C9.75727 9.79743 9.59928 9.6921 9.39595 9.55167Z"
                        fill="#272C3F" />
                </svg>
                <span>HotTrends</span>
            </a>

            <a class="tab-item" href="/product/social">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewBox="0 0 640 512">
                    <path
                        d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z" />
                </svg>
                <span>Social</span>
            </a>

            <a class="tab-item" href="/product/cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none">
                    <path
                        d="M2.90202 1.09348C2.38103 1.09348 1.86774 1.09348 1.35446 1.09348C1.01997 1.09194 0.805718 0.902351 0.807259 0.609485C0.808801 0.322784 1.01381 0.131651 1.34058 0.128568C1.94173 0.123944 2.54288 0.123944 3.14402 0.127026C3.41069 0.128568 3.57562 0.276542 3.66039 0.583281C3.83765 1.21526 4.018 1.84723 4.18293 2.48229C4.22146 2.62872 4.28774 2.66109 4.42801 2.66109C8.78709 2.65647 13.1446 2.65647 17.5037 2.65647C17.9677 2.65647 18.4301 2.65647 18.8941 2.65801C19.3195 2.65955 19.5229 2.92929 19.4089 3.33931C18.6151 6.16778 17.8197 8.99625 17.0259 11.8263C17.0151 11.8617 17.0058 11.8987 16.9966 11.9357C16.9288 12.2424 16.8147 12.3349 16.4941 12.3365C15.3165 12.338 14.1388 12.338 12.9627 12.338C10.8017 12.338 8.6422 12.338 6.48116 12.338C6.09118 12.338 5.97712 12.2517 5.8723 11.8725C4.8966 8.31341 3.91935 4.75739 2.9421 1.19984C2.93439 1.17055 2.92052 1.14281 2.90202 1.09348ZM10.7308 8.48913C10.478 8.21784 10.2437 7.96505 10.0079 7.71534C9.789 7.48259 9.51309 7.45022 9.31117 7.63057C9.09845 7.8217 9.1 8.10069 9.31888 8.34423C9.60712 8.66639 9.89536 8.987 10.1836 9.30915C10.4688 9.62822 10.7246 9.65134 11.0591 9.37697C12.2136 8.43518 13.3681 7.49338 14.5211 6.5485C14.592 6.48993 14.6614 6.41903 14.703 6.33887C14.7939 6.16315 14.74 5.98127 14.5797 5.85641C14.3824 5.70227 14.1527 5.70073 13.96 5.85641C13.3342 6.36662 12.7084 6.87836 12.0826 7.38857C11.6387 7.7508 11.1917 8.11457 10.7308 8.48913Z"
                        fill="#272C3F" />
                    <path d="M9.76449 15.1124C9.75061 16.2161 8.90438 17.0438 7.80691 17.0284C6.72793 17.013 5.90482 16.1529 5.91869 15.06C5.93256 14.0026 6.79421 13.1703 7.86086 13.1841C8.946 13.1949 9.77836 14.0381 9.76449 15.1124Z" fill="#272C3F" />
                    <path d="M13.7999 15.1031C13.8076 14.0041 14.6461 13.1718 15.7328 13.1841C16.8041 13.1964 17.6488 14.0612 17.6441 15.1401C17.638 16.2022 16.7717 17.0407 15.6927 17.0283C14.6261 17.016 13.7922 16.1682 13.7999 15.1031Z" fill="#272C3F" />
                </svg>
                <span>Checkout</span>
            </a>

            <a class="tab-item" href="/product/portfolio">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                    <path
                        d="M6.13784 18.0218C4.39141 17.9844 2.64297 17.947 0.896532 17.9057C0.436838 17.8959 0.366579 17.825 0.390668 17.3647C0.438845 16.436 0.474978 15.5034 0.567319 14.5787C0.707836 13.1778 1.46262 12.1488 2.67308 11.4209C3.64265 10.8365 4.70657 10.4824 5.78655 10.1636C5.89495 10.1321 6.05554 10.1912 6.16193 10.2561C7.5912 11.0982 9.04857 11.1513 10.4999 10.3486C10.8352 10.1617 11.0961 10.1499 11.4374 10.2659C12.3788 10.5866 13.3203 10.9054 14.1735 11.4228C14.8821 11.8537 15.4742 12.3967 15.8617 13.1345C15.944 13.29 15.94 13.3923 15.8095 13.5241C14.6091 14.738 13.4127 15.9559 12.2283 17.1836C12.0476 17.3706 11.9171 17.6086 11.7847 17.8329C11.7144 17.9529 11.6381 18.0021 11.4976 18.0021C9.93383 18.0041 8.37007 18.012 6.80631 18.0179C6.58349 18.0179 6.36067 18.0179 6.13985 18.0179C6.13784 18.0179 6.13784 18.0198 6.13784 18.0218Z"
                        fill="#272C3F" />
                    <path d="M8.44438 0.912512C10.9777 0.922349 13.0112 2.93313 13.0032 5.422C12.9952 7.90498 10.9456 9.90002 8.40624 9.89608C5.87492 9.89018 3.82938 7.85776 3.84142 5.36298C3.85347 2.90558 5.92711 0.902674 8.44438 0.912512Z" fill="#272C3F" />
                    <path d="M14.587 19.7631C13.8102 19.0332 13.0494 18.317 12.2625 17.5772C13.3244 16.4951 14.3702 15.4248 15.4321 14.3427C16.211 15.0765 16.9698 15.7927 17.7527 16.5305C16.6928 17.6107 15.6449 18.681 14.587 19.7631Z" fill="#272C3F" />
                    <path
                        d="M17.9735 16.3122C17.1906 15.5743 16.4258 14.8542 15.6489 14.1184C16.1769 13.5813 16.6888 13.052 17.2107 12.5365C17.3392 12.4106 17.5138 12.4205 17.6483 12.5444C18.2706 13.1229 18.8909 13.7052 19.5071 14.2896C19.6316 14.4076 19.6557 14.5709 19.5352 14.6968C19.0274 15.2359 18.5055 15.7632 17.9735 16.3122Z"
                        fill="#272C3F" />
                    <path
                        d="M14.3441 19.9657C13.9225 20.0935 13.5371 20.2077 13.1537 20.3257C12.6639 20.4752 12.1781 20.6366 11.6843 20.7664C11.5659 20.7979 11.3812 20.7684 11.2969 20.6917C11.2246 20.6248 11.2065 20.4398 11.2407 20.3296C11.4876 19.5486 11.7526 18.7734 12.0115 17.9962C12.0256 17.9549 12.0456 17.9136 12.0798 17.8309C12.8365 18.5451 13.5753 19.2416 14.3441 19.9657Z"
                        fill="#272C3F" />
                </svg>
                <span>Portfolio</span>
            </a>

        </div>
    </header>

    <div class="page-content" style="margin-bottom: 100px;">

        <pre class="text-dark" style="font-family: poppins;text-align: justify!important;">
            Roops Terms And Conditions
            Introduction:
            Welcome to www.roops.com, which is also referred to as "we," "us," or "Roops." These terms and conditions apply to your use of Roops, as well as any related subdomains, websites, mobile apps, services, and tools (collectively, the "Site"). We are an online marketplace. You represent that
            you agree to comply with these terms and conditions (the "User Agreement") by using the site. You hereby accept these terms and conditions. (including the linked material contained herein). Your use of the site indicates that you accept the terms of this user agreement, and it becomes effective
            then. Please do not access, register with, or use this site if you do not agrlee to be governed by the terms of this user agreement. The Roops website is
            operated by Topmost Technologies.
            The site retains the right, at any time and without previous notice, to change, modify, add, or remove any aspect of these Terms and Conditions. If no other notification is given, changes take effect when they are posted on the website. For updates, please review these terms and conditions
            frequently. Once modifications to the terms and conditions of use are posted, you must continue using the site in order to accept those changes.
            2. Conditions Of Use:
            2.1. Your Account :
            2.1.1. To access certain platform services, you may need to create an account or provide personal information for
            registration. We reserve the right to
            deactivate your username or password at
            any time without prior notice or explanation. We are not liable for any losses suffered by, caused by, arising out of, in connection with or by reason of such request or invalidation.
            2.1.2. You are responsible for keeping your user identification, password, account details, and related private information confidential. You agree to ensure the security of your account and take the necessary precautions to prevent unauthorised use. If you suspect your password is compromised or
            being used without permission, you must notify us immediately. You acknowledge that any actions taken on the site or access to private information using your account and password are considered authorised by you. You agree to be bound by any use of the site or its services, whether authorised by you
            or not, and understand that we may hold you accountable for such actions.
            Additionally, you agree to indemnify us against any losses incurred from the use or access to the site through your account.
            2.1.3. Please ensure that the information you provide us is accurate and complete at all times. You must update your account details promptly online. If there are details you can't update on the site, please contact our customer service for assistance. We reserve the right to deny access, terminate
            accounts, or modify content without prior notice. We may also request that you update your personal data or deactivate your account at our discretion, without explanation or prior notice, and we won't be liable for any resulting losses. You agree to change your password periodically to maintain
            account security and are responsible for keeping your account details confidential. You'll be held responsible for any unauthorised use of your username or password.
            2.1.4. Please take a moment to review our Privacy Agreement, which governs your interaction with the Site. We treat any personal information you provide or that we collect during your visit as strictly confidential, following the terms of the Privacy Agreement and applicable laws. If you disagree
            with how your information will be handled as outlined in the Privacy Agreement, kindly avoid using the Site.
            2.1.5. In addition to any other legal remedies, we have the right to terminate the Terms and Conditions or revoke your rights under them without prior notice. If the agreement is terminated, you must stop using the Site immediately. We may also revoke any passwords or account identification provided
            to you. Termination will not affect any rights or obligations that existed before termination. You agree that we are not liable to you or anyone else for
            any such suspension or termination. If you're dissatisfied with the Site or with any terms, policy, guidelines, rules or its
            operation, your only recourse is to stop using it.
            2.2. Authorization For Site Access And
            Communication Platforms:
            2.2.1. You acknowledge that the Site serves as an online platform for purchasing products at listed prices from any location using your preferred payment method, understanding that we act solely as a facilitator and are not directly involved in transactions or payment processing, which are handled
            by independent service providers. Therefore, product purchases constitute a contract between you and the sellers, while payment processing involves a contract between you and the service provider listed on our site.
            2.2.2. By accessing the Site, you confirm that you are legally capable of forming binding contracts, being at least 18 years old or under the supervision of a parent or legal guardian. You are granted a non- transferable, revocable, and non-exclusive license to use the Site for personal shopping
            purposes, subject to the Terms and Conditions outlined here. Commercial or third-party use is prohibited unless explicitly permitted by us. If registering as a business entity, you assert authority to bind that entity to this User Agreement and agree to comply with all relevant online trading laws.
            Multiple registrations by the same individual or entity are not permitted, and any violation of these Terms and Conditions will result in immediate license
            revocation without notice.
            2.2.3. The information provided on this Site is for informational purposes only. The
            accuracy of product details, including price, availability, and features, is the responsibility of the vendors, and we do not guarantee their accuracy. Any submissions or opinions expressed on the Site belong to the individuals posting them and may not represent our views.
            2.2.4. You're not allowed to frame or enclose any trademark, logo, or proprietary information (including images, text, page layout or form) without our written consent. Using our name or trademark in meta tags or text also requires our express
            written consent. Unauthorized use will lead to termination of your Site access without prior notice. Furthermore, our logo or graphics cannot be used as part of an external link for commercial purposes without our explicit written consent.
            2.2.5. You agree not to engage in the following restricted activities, as they will
            result in immediate termination of your account, services, reviews, orders, or any ongoing transactions, and may lead to legal action:
            • Failure to comply with the Terms and Conditions or any other guidelines and policies provided on the Site.
            • Impersonating or falsely representing your affiliation with any person or entity.
            Using the Site for illegal purposes.
            • Attempting unauthorized access to or disrupting other computer systems or networks connected to the Platform or
            Services.
            Interfering with another user's use and enjoyment of the Site.
            • Posting, promoting, or transmitting any
            materials deemed illegal by The People's Republic of Bangladesh.
            • Uploading or using any software or material containing viruses or harmful components that may damage the Site or interfere with other users' devices or the operation of the Site. Additionally, using the Site in a manner that violates acceptable use policies of connected computer networks, Internet
            standards, or any applicable laws is prohibited.
            2.3. Website Availability:
            We aim to ensure that access to the Site is consistently available and free from interruptions or errors, but due to the nature of the Internet and the Site, this cannot be guaranteed. At times, your access may be temporarily suspended or restricted for maintenance, repairs, or the introduction of
            new features without prior
            notice. We will make efforts to keep these interruptions or restrictions brief and infrequent. To maintain the Software's currency, updates may be provided automatically or manually at any time without notice to you.
            2.4. Your Conduct :
            You should refrain from using the site in any way that could disrupt, harm, or disable it. Similarly, avoid engaging in activities that could potentially harm the Site, its employees, officers,
            representatives, associates, or any other party directly or indirectly linked to it. You acknowledge that you are solely
            responsible for all electronic
            communications and content sent from your computer to us and must use the Site only for lawful purposes. Unauthorized use of the Site is strictly prohibited. Roops will not be held liable for any loss or
            damage resulting from the use of information contained in the materials on
            this site.
            • For fraudulent purposes, or in
            connection with a criminal offense or other unlawful activity.
            • To send, use or reuse any material that does not belong to you; or is illegal, offensive (including but not limited to material that is sexually explicit content or which promotes racism, bigotry, hatred or physical harm), deceptive, misleading, abusive, indecent, harassing, blasphemous,
            defamatory, libellous, obscene, pornographic, paedophilic or menacing; ethnically objectionable, disparaging or in breach of copyright, trademark, confidentiality, privacy or any other proprietary information or right; or is otherwise injurious to third parties; or relates to or promotes money
            laundering or gambling; or is harmful to minors in any way; or impersonates another person; or threatens the unity, integrity, security or sovereignty of Bangladesh or friendly relations with foreign States; or objectionable or otherwise unlawful in any manner whatsoever; or which consists of or
            contains software viruses, political campaigning, commercial solicitation, chain letters, mass mailings or any "spam".
            • Use the Site for illegal purposes.
            • To cause annoyance, inconvenience or unwarranted anxiety.
            • For any other purposes that is other than what is expected by us.
            2.5. Submission:
            Any content you contribute to the Site, such as questions, reviews, comments, or suggestions, will become our property and won't be returned to you. By posting comments or reviews, you also give us the right to use the name you provide alongside that content. You must use your real email address and
            identity when submitting content and not mislead us or others about its origin. We reserve the right to remove or modify any content without notice.
            2.6. Claims Against Objectionable Content:
            We host several comments on listings and list lots of products for sale from multiple vendors on the Site; nevertheless, we are unable to monitor every product that is posted for sale, every review that is displayed, or the substance of every
            comment that is made. Consequently, we
            follow the "claim, review, and takedown" methodology. If you think that any content on the website is unlawful, objectionable (including, but not limited to, sexually explicit content or content that incites racism, bigotry, hatred, or physical harm), deceptive, misleading, abusive, indecent,
            harassing, blasphemous, defamatory, libellous, obscene, pornographic, paedophilic, or menacing; ethnically objectionable, disparaging; or otherwise harmful to third parties; or linked to or encourages money laundering or gambling; or poses a threat to
            Bangladesh's unity, integrity, security, or sovereignty, or friendly relations with other States; or objectionable or unlawful in any way whatsoever; or comprises or contains software viruses, (" offensive material"). Please inform us quickly by sending an email to legal@Roops.com. We will make
            every effort to promptly investigate and remove any valid complaints about
            objectionable content.
            Make sure to include your name, address, contact details, and relevant information
            about the claim, such as the name of the objectionable content party, specific instances of objection, and evidence supporting your claim. Incomplete details will invalidate your claim and make it unusable for legal purposes.
            2.7. Claims Against Infringing Content:
            We value the intellectual property rights of others. If you suspect that your intellectual property rights have been infringed upon, please contact us at legal@Roops.com, and we will make every effort to address your concern promptly. Be sure to include your name, address, contact information,
            and relevant details of the claim, such as the name of the infringing party, specific instances of infringement, and evidence supporting your claim. Incomplete details
            will invalidate your claim for legal purposes. Additionally, providing false or misleading information could result in legal action.
            We also honor a manufacturer's right to establish exclusive distribution or resale arrangements for their products. However, violations of these agreements aren't considered intellectual property infringement. The enforcement of such agreements falls under the responsibility of the manufacturer,
            distributor, or relevant reseller, and it's not appropriate for us to intervene in these matters. Although we can't provide legal advice or disclose confidential information, we advise seeking assistance from a legal professional if you have any concerns about your rights.
            2.8. Indemnity:
            You agree to indemnify and hold harmless Roops.com, owned by Topmost Technologies, its subsidiaries, affiliates, and their respective officers, directors, agents, and employees, from any claims, demands, or actions, including reasonable legal fees, brought by third parties or penalties incurred
            due to your violation of these Terms and Conditions or any referenced document, or your infringement of any laws, rules, regulations, or third- party rights.
            Furthermore, you explicitly release Roops, its subsidiaries, and any of its officers and representatives from any costs, damages, liabilities, or
            consequences resulting from the actions
            or inactions of merchants or other service providers. You also waive any claims or demands you may have against them under any law, contract, or otherwise.
            2.9.Losses:
            We won't be liable for any business or personal losses. (including, but not limited to, lost profits, revenue, contracts, anticipated savings,
            data, goodwill, or squandered expenses) or any other indirect or consequential loss that was not reasonably foreseeable to you and us at the time you started using the Site.
            2.10. Amendments To The Terms Or Changes To The Service And Related Commitments:
            We retain the right to modify the Site, its policies, these terms and conditions, and any other publicly displayed terms or service commitments at any time. You will be bound by the policies and terms and conditions that were in effect when you
            used the Site, unless a change to those policies or conditions is mandated by law or government authority (in which case it will apply to previously placed orders). If any of these conditions is deemed invalid, void, or unenforceable for any reason, it will be considered separate and will not affect
            the validity and enforceability of the remaining conditions.
            2.11. Waiver:
            You recognize that we're a private enterprise and have the authority to run our business as we see fit to achieve our goals. Even if we don't take action immediately after a breach of our site's conditions, we still reserve the right to enforce our rights and remedies in any
            other situation where these conditions are
            violated.
            2.12. Governing Law & Jurisdiction:
            These terms and conditions are regulated by and interpreted in accordance with the laws of The People's Republic of Bangladesh. You consent to the exclusive jurisdiction of the courts, tribunals, and/or quasi-judicial bodies situated in Dhaka, Bangladesh for any disputes arising within Bangladesh
            under this Agreement.
            2.13. Availability, Pricing & Order Processing:
            2.13.1. All costs listed on the Site are in Bangladeshi Taka (BDT) and include VAT. These prices are set by the seller of the product or service. The prices displayed in your Shopping Cart will reflect the most up- to-date price shown on the item's product detail page. However, please be aware that
            this price may differ from the initial price shown when you added the item to your cart. Adding an item to your cart does not guarantee the price shown at that time. It's
            also possible for an item's price to decrease between the time you add it to your cart and the time of purchase.
            2.13.2. We do not offer price matching for items sold by any seller on our Site or on other websites.
            2.13.3. We are dedicated to providing accurate pricing information on the Site, but errors may occasionally occur, such as incorrect display of item prices. In such cases, we reserve the right to reject or cancel any orders. If an item is mispriced, we may contact you for further
            instructions or cancel your order, informing you accordingly. We have the discretion to refuse or cancel orders, even if they have been confirmed and payment processed. If a cancellation occurs for a prepaid order, our refund policies will apply, with the refund amount determined by Roops,
            typically based on the price paid by the
            customer after deducting any discounts and shipping charges.
            2.13.4. We display availability information for products on their respective pages. However, we cannot offer more precise availability details beyond what is provided on those pages or elsewhere on the Site. Dispatch estimates are indicative and should not be relied upon as guaranteed dispatch
            times. If any products you order are unavailable, you will be notified by email or SMS as we process your order.
            2.13.5. Please be aware that there are
            instances where an order cannot be
            fulfilled for various reasons. The Site
            retains the authority to decline or cancel any order at any time, without providing a reason. You may be requested to furnish additional verifications or details, such as mobile number and address, before your order is accepted.
            2.13.6. To prevent credit or debit card fraud, we may verify your payment details and personal information before fulfilling your order. This verification may include checks on your identity, place of residence, or banking information. Failure to respond to such inquiries will result in the
            automatic cancellation of the order within
            a reasonable time frame. We retain the right to cancel an order immediately if we suspect fraudulent use of banking instruments or for other reasons, without prior notice or legal liability.
            2.14. Discount:
            Coupon codes, promo codes, discount offers, or sign-up offers primarily lower the standard price of a product. Once an order is successful, discount coupons and gift cards cannot be refunded, returned, or exchanged. According to this policy,
            customers created with the same phone number or email address cannot benefit
            from discounts or offers more than once.
            Promotional SMS content or offer banners
            will only include the main offer details, with detailed terms and conditions
            available on the website for review before availing the offer. Roops reserves the right to modify, change, alter, or cancel any offer at any time without prior notice.
            2.15. Security & Fraud:
            2.15.1. By using a voucher, you confirm to Roops that you are the authorized recipient of the voucher and that you are using it honestly.
            2.15.2. If you try to use a voucher to obtain discounts that you are not entitled to, it may be considered a legal offense.
            2.15.3. If we have reason to believe that a
            voucher is being used unlawfully or improperly, we may refuse or cancel the voucher/order. In such cases, you agree not to hold us liable, and Roops reserves the right to take additional action as deemed necessary.
            2.16. Reselling Roops Products:
            Reselling Roops products for business purposes by unauthorized individuals is strictly prohibited. Any unauthorized individual found engaging in such activities may face legal action.
            2.17. Taxes:
            You are accountable for covering all fees, costs, and charges related to purchasing products from the Site, and you agree to handle any applicable taxes according to current laws.
            2.18. Representations And Warranties:
            2.18.1. We do not guarantee or warrant any specifics, such as quality, value, or saleability, of the products or services listed for sale on the Site by third parties. We neither endorse nor support the sale or purchase of any products or services on the Site, implicitly or explicitly. We are not
            liable for any errors or omissions, whether they occur on our behalf or on behalf of third parties.
            2.18.2. We are not liable for any failure to meet contractual obligations or breaches between you and the sellers. We cannot guarantee the actions of either party during transactions on the Site. Our platform is not obliged to mediate or resolve any disputes arising from these transactions.
            2.18.3. We do not acquire ownership or rights to the products or services offered by sellers during transactions on our Site. Consequently, we have no obligations or liabilities regarding contracts between you and the sellers. We are not accountable for any unsatisfactory or delayed services, or for
            damages or delays resulting from products that are out of stock, unavailable, or on back order.
            2.18.4. The pricing or related information displayed on the Site may be incorrect due to technical issues, typographical errors, or other reasons. In such cases, you acknowledge that the seller or the Site may cancel your order without prior notice, and neither party will be liable. Any prepayments
            made for such orders will be refunded according to our refund policy.
            2.19. Stock Availability :
            The orders are subject to availability of stock.If there are any issues with stock, the order may be canceled at any time, regardless of the duration.
            2.20. Delivery Timeline And Charges:
            2.20.1. Roops may experience delays in delivery beyond the usual time frame. According to government regulations, Roops will deliver any physically stocked item within 10 working days, but they will strive to deliver your items as quickly as possible. Delays in delivery could occur due to force
            majeure events, including but not limited to political unrest, national/public holidays, natural disasters, and political events.
            2.20.2. Delivery charge (s) applicable. If any delivery fails due to customer negligence or any other reason attributable to the customer, the customer is responsible for paying both the return courier charge(s) and the redelivery charge(s).
            2.21. Cancellation:
            Roops reserves the unrestricted right to cancel any order before dispatch at its discretion, for reasons including but not limited to mis-pricing, out of stock items, expiration, defects, malfunctions, incorrect information, or technical/typographical
            errors.
            2.22. Return System:
            2.22.1. If your item arrives faulty, damaged, or incorrect, please contact us
            within the specified return time frame. Depending on the product category and its condition, you may be eligible for either a refund or a replacement.
            2. 22.2. For gadget-related issues that arise after the return window has elapsed, we will direct you to the brand's warranty center, if applicable.
            2.22.3. Please remember to maintain and have available proper documentation and evidence to support your return or refund claim, including an unboxing video, purchase invoice, carrier packet etc.
            2.23. Refund Timeline:
            If an order is canceled, the payment for that order will be refunded within 72 hour to 12 working days, although in
            exceptional circumstances, it may take
            longer. Any received cashback amount will be deducted from the refund amount.
            2.24. Others:
            2.24.1. You acknowledge that the product(s) or service(s) you order are intended for your personal use and not for commercial resale. You authorize us to declare this purpose to any relevant government authority on your behalf. If an order exceeds typical individual consumption quantities, the
            seller or the Site reserves the right to cancel it. This applies to both single orders with excessive quantities and multiple orders of the same product where each order exceeds typical individual consumption. The determination of typical consumption limits is at the discretion of the seller or us
            and may vary for different individuals.
            2.24.2. You are free to cancel your order without any charges before the item is sent out for delivery to you.
            2.24.3. Please be aware that we only sell products in quantities suitable for the typical requirements of an average household. This includes both the quantity of products ordered in a single transaction and the placement of multiple orders for the same product, where each order contains an amount
            typical for a regular household. Please review our Refund Policy for further details.
            
                   </pre>
    </div>
    <!--start footer-->
    <section class="footer-section bg-section-2 section-padding d-none d-lg-block" style="background-color: #FFF6F6;">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-4 g-4">

                <div class="col d-flex d-md-block d-sm-flex justify-content-center">
                    <div class="footer-widget-7">
                        <h5 class="mb-3 fw-bold">ONLINE SHOPPING</h5>
                        <ul class="widget-link list-unstyled">
                            <li><a href="javascript:;">Men</a></li>
                            <li><a href="javascript:;">Women</a></li>
                            <li><a href="javascript:;">Kids</a></li>
                            <li><a href="javascript:;">Home & Living</a></li>
                            <li><a href="javascript:;">Beauty</a></li>
                            <li><a href="javascript:;">Gift Cards</a></li>
                            <li><a href="javascript:;">Ribbon Insider</a></li>
                        </ul>
                    </div>
                </div>

                <div class="f-1 col d-flex d-md-block d-sm-flex justify-content-center">
                    <div class="footer-widget-7">
                        <h5 class="mb-3 fw-bold">CUSTOMER POLICIES</h5>
                        <ul class="widget-link list-unstyled">
                            <li><a href="javascript:;">Contact Us</a></li>
                            <li><a href="javascript:;">FAQ</a></li>
                            <li><a href="javascript:;">T&C</a></li>
                            <li><a href="javascript:;">Terms Of Use</a></li>
                            <li><a href="javascript:;">Track Orders</a></li>
                            <li><a href="javascript:;">Shipping</a></li>
                            <li><a href="javascript:;">Cancellation</a></li>
                            <li><a href="javascript:;">Returns</a></li>
                            <li><a href="javascript:;">Privacy policy</a></li>
                            <li><a href="javascript:;">Grievance Officer</a></li>

                        </ul>
                    </div>
                </div>

                <div class="f-2 col d-flex d-md-block d-sm-flex justify-content-center">
                    <div class="footer-widget-7">
                        <h5 class="mb-3 fw-bold">USEFUL LINKS</h5>
                        <ul class="widget-link list-unstyled">
                            <li><a href="javascript:;">Blog</a>
                            </li>
                            <li><a href="javascript:;">Careers</a>
                            </li>
                            <li><a href="javascript:;">Site Map</a>
                            </li>
                            <li><a href="javascript:;">Corporate Information</a>
                            </li>
                            <li><a href="javascript:;">Whitehat</a>
                            </li>
                            <li><a href="javascript:;">Cleartrip</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="f-11 col d-flex d-md-block d-sm-flex justify-content-center">
                    <div class="footer-widget-7">
                        <h5 class="mb-3 fw-bold">Keep In Touch</h5>
                        <ul class="widget-link list-unstyled">
                            <li>
                                <a href="javascript:;">
                                    <i class="fab fa-google me-2"></i>
                                    <i class="fab fa-facebook-f me-2"></i>
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <!-- <div>
            <img class="d-flex justify-content-center mx-auto my-0" style="width: 200px;" src="img/logo.png" alt="">
        </div> -->
        </div>
    </section>
    <!--end footer-->

    <!-- <footer class="footer-strip text-center py-4 bg-section-2 bg-dark border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.ztrios.com | All rights reserved.</p>
  </footer> -->




    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!--End Back To Top Button-->


    <!-- JavaScript files -->
    <script src="../../front_assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="../../front_assets/js/jquery.min.js"></script>
    <script src="../../front_assets/plugins/slick/slick.min.js"></script>
    <script src="../../front_assets/js/main.js"></script>
    <script src="../../front_assets/js/index.js"></script>
    <script src="../../front_assets/js/loader.js"></script>

    <script>
        $(document).ready(function () {
            $('.btn-default').on('click', function () {
                $('.default-menu').slideToggle();
                $('.dropdown-overlay').show();
            });

            $('.dropdown-overlay').on('click', function () {
                $('.default-menu').hide();
                $(this).hide();
            });

            // Add click event handler to body
            $('body').on('click', function (event) {
                // Check if the clicked element is not inside the menu or the button
                if (!$(event.target).closest('.default-menu').length && !$(event.target).is('.btn-default')) {
                    $('.default-menu').hide();
                    $('.dropdown-overlay').hide();
                }
            });
        });
    </script>

</body>

</html>